{# templates/home/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Cadastro{% endblock %}
    <div class="container mt-5">
        <h1>Cadastro</h1>
        <br>
        <form action="register_process.php" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="full_name" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="full_name" name="full_name" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmação da Senha</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <br>
        <a href="../index.php"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </div>
{% block body %}